In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [1]:
import pymysql
import time

#create 7 tables in database(university)
#각 tsv 파일들마다 table들로 구성
def create_tables():
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)
    
    create_sql1 = """create table if not exists title_akas(
        titleid varchar(20),
        ordering int,
        title varchar(2048),
        region varchar(30),
        language varchar(30),
        types varchar(200),
        attributes varchar(200),
        isOriginalTitle varchar(10)
    );"""
    
    create_sql2 = """create table if not exists title_basics(
        tconst varchar(20),
        titleType varchar(20),
        primaryTitle varchar(2048),
        originalTitle varchar(2048),
        isAdult boolean,
        startYear varchar(4),
        endYear varchar(4),
        runtimeMinutes varchar(10),
        genres varchar(200)
    );"""
    
    create_sql3 = """create table if not exists title_crew(
        tconst varchar(20),
        directors longtext,
        writers longtext
    );"""
    
    create_sql4 = """create table if not exists title_episode(
        tconst varchar(20),
        parentTconst varchar(20),
        seasonNumber varchar(6),
        episodeNumber varchar(6)
    );"""
    
    create_sql5 = """create table if not exists title_principals(
        tconst varchar(20),
        ordering int,
        nconst varchar(20),
        category varchar(200),
        job longtext,
        characters longtext
    );"""
    
    create_sql6 = """create table if not exists title_ratings(
        tconst varchar(20),
        averageRating float,
        numVotes int
    );"""
    create_sql7 = """create table if not exists name_basics(
       nconst varchar(20),
       primaryName longtext,
       birthYear varchar(4),
       deathYear varchar(4),
       primaryProfession longtext,
       knownForTitles longtext
    );"""
    
    cur.execute(create_sql1)
    cur.execute(create_sql2)
    cur.execute(create_sql3)
    cur.execute(create_sql4)
    cur.execute(create_sql5)
    cur.execute(create_sql6)
    cur.execute(create_sql7)
    
    conn.commit()
    cur.close()
    conn.close()

#title.akas.tsv 파일 읽고 insert into title_akas
def load_title_akas():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'title.akas.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into title_akas (titleid, ordering, title, region, language, types, attributes, isOriginalTitle)
                    values (%s, %s, %s, %s, %s, %s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')

#title.basics.tsv 파일 읽고 insert into title_basics
def load_title_basics():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'title.basics.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into title_basics (tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes, genres)
                    values (%s, %s, %s, %s, %s, %s, %s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')

#title.crew.tsv 파일 읽고 insert into title_crew
def load_title_crew():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'title.crew.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into title_crew (tconst, directors, writers)
                    values (%s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')

#title.episode.tsv 파일 읽고 insert into title_episode
def load_title_episode():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'title.episode.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into title_episode (tconst, parentTconst, seasonNumber, episodeNumber)
                    values (%s, %s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')

#title.principals.tsv 파일 읽고 insert into title_principals
def load_title_principals():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'title.principals.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into title_principals (tconst, ordering, nconst, category, job, characters)
                    values (%s, %s, %s, %s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')

#title.ratings.tsv 파일 읽고 insert into title_rating
def load_title_ratings():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'title.ratings.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into title_ratings (tconst, averageRating, numVotes)
                    values (%s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')

#name.basics.tsv 파일 읽고 insert into name_basics
def load_name_basics():
    start_time = time.time()
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)    
    
    filename = 'name.basics.tsv'
    f = open(filename, "r", encoding = 'UTF-8')
    
    insert_sql = """insert into name_basics (nconst, primaryName, birthYear, deathYear, primaryProfession, knownForTitles)
                    values (%s, %s, %s, %s, %s, %s)"""
    
    oneline = f.readline()

    oneline = f.readline()[:-1]

    rows = []
    i = 0
    
    while oneline:
        attrs = tuple(oneline.split('\t'))
        rows.append(attrs)
        i += 1
        if i % 10000 == 0:
            cur.executemany(insert_sql, rows)
            conn.commit()
            rows = []
            print("%d rows" %i)
        
        oneline = f.readline()[:-1]
        
    if rows:
        cur.executemany(insert_sql, rows)
        conn.commit()
        print("%d rows" %i)
        
    
    f.close()
    cur.close()
    conn.close()
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds\n')
    

#7개의 테이블 생성 이후, insert 연산과 연산시간을 출력
if __name__ == '__main__':
    create_tables()
    load_title_akas()
    load_title_basics()
    load_title_crew()
    load_title_episode()
    load_title_principals()
    load_title_ratings()
    load_name_basics()

"\n#7개의 테이블 생성 이후, insert 연산과 연산시간을 출력\nif __name__ == '__main__':\n    create_tables()\n    load_title_akas()\n    load_title_basics()\n    load_title_crew()\n    load_title_episode()\n    load_title_principals()\n    load_title_ratings()\n    load_name_basics()\n"

In [4]:
#내가 설계한 db에 create table 및 insert 수행
import pymysql
import time

#create  tables in database(university)
def my_create_tables():
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)
    
    create_sql1 = """create table if not exists Movie(
        titleid varchar(20),
        titleType varchar(20),
        primaryTitle varchar(2048),
        originalTitle varchar(2048),
        isAdult boolean,
        startYear varchar(4),
        endYear varchar(4),
        runtimeMinutes varchar(10),
        primary key (titleid)
    );"""
    
    cur.execute(create_sql1)
    conn.commit()
    
    create_sql8 = """create table if not exists Person(
       nconst varchar(20),
       primaryName longtext,
       birthYear varchar(4),
       deathYear varchar(4),
       primaryProfession longtext,
       knownForTitles longtext,
       primary key (nconst)
    );"""
    
    cur.execute(create_sql8)
    conn.commit()
    
    create_sql2 = """create table if not exists MovieByCountry(
        tconst varchar(20),
        ordering int,
        title varchar(2048),
        region varchar(30),
        language varchar(30),
        types varchar(200),
        attributes varchar(200),
        isOriginalTitle varchar(10),
        primary key (tconst, ordering),
        foreign key (tconst) references Movie(titleid)
    );"""
    
    cur.execute(create_sql2)
    conn.commit()
    
    create_sql3 = """create table if not exists MovieCrew(
        tconst varchar(20),
        directors longtext,
        writers longtext,
        primary key (tconst),
        foreign key (tconst) references Movie(titleid)
    );"""
    
    cur.execute(create_sql3)
    conn.commit()
    
    create_sql4 = """create table if not exists MovieEpisode(
        tconst varchar(20),
        parentTconst varchar(20),
        seasonNumber varchar(6),
        episodeNumber varchar(6),
        primary key (tconst),
        foreign key (tconst) references Movie(titleid),
        foreign key (parentTconst) references Movie(titleid)
    );"""
    
    cur.execute(create_sql4)
    conn.commit()
    
    create_sql5 = """create table if not exists MovieGenres(
        tconst varchar(20),
        genres varchar(200),
        primary key (tconst),
        foreign key (tconst) references Movie(titleid)
    );"""
    
    cur.execute(create_sql5)
    conn.commit()
    
    create_sql6 = """create table if not exists MoviePrincipals(
        tconst varchar(20),
        ordering int,
        nconst varchar(20),
        category varchar(200),
        job longtext,
        characters longtext,
        primary key (tconst, ordering),
        foreign key (tconst) references Movie(titleid),
        foreign key (nconst) references Person(nconst)
    );"""
    
    cur.execute(create_sql6)
    conn.commit()
    
    create_sql7 = """create table if not exists MovieReview(
        tconst varchar(20),
        averageRating float,
        numVotes int,
        primary key (tconst),
        foreign key (tconst) references Movie(titleid)
    );"""
    
    cur.execute(create_sql7)
    conn.commit()
   
    cur.close()
    conn.close()

def my_insert_tables():
    
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)
    
    #Movie
    copy_sql = """insert into Movie (titleid, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes) 
    (select tconst, titleType, primaryTitle, originalTitle, isAdult, startYear, endYear, runtimeMinutes from title_basics);"""
    
    cur.execute(copy_sql)
    
    #MovieByCountry
    copy_sql = """insert into MovieByCountry (select * from title_akas);"""
    
    cur.execute(copy_sql)
    
    #MovieCrew
    copy_sql = """insert into MovieCrew (select * from title_crew) ;"""
    
    cur.execute(copy_sql)
    
    #MovieEpisode
    copy_sql = """insert into MovieEpisode (select * from title_episode) ;"""
    
    cur.execute(copy_sql)
    
    #MovieGenres
    copy_sql = """insert into MovieGenres (select tconst, genres from title_basics) ;"""
    
    cur.execute(copy_sql)
    
    #MoviePrincipals
    copy_sql = """insert into MoviePrincipals (select * from title_principals) ;"""
    
    cur.execute(copy_sql)
    
    #MovieReview
    copy_sql = """insert into MovieReview (select * from title_ratings) ;"""
    
    cur.execute(copy_sql)
    
    #Person
    copy_sql = """insert into Person (select * from name_basics) ;"""
    
    cur.execute(copy_sql)
    
    conn.commit()
    cur.close()
    conn.close()
    
    
def my_create_indexes():
    conn = pymysql.connect(host='localhost', user='leedongjun', 
                password='leedongjun201611279', db='university')
    
    cur = conn.cursor(pymysql.cursors.DictCursor)
    
    #title_basics의 primaryTitle index 추가
    index_sql = """create index idx_primaryTitle on title_basics(primaryTitle);"""
    cur.execute(index_sql)
    
    #name_basics의 primaryName index 추가
    index_sql = """create index idx_primaryName on name_basics(primaryName);"""
    cur.execute(index_sql)
    
    #title_basics의 genres index 추가
    index_sql = """create index idx_genres on title_basics(genres) limit;"""
    cur.execute(index_sql)
    
    conn.commit()
    cur.close()
    conn.close()
    
    
if __name__ == '__main__':
    my_create_tables()
    my_insert_tables()
    my_create_indexes()

OperationalError: (1071, 'Specified key was too long; max key length is 3072 bytes')

In [ ]:
import pymysql
import time

#영화제목을 입력하여, 이에 매칭되는 영화를 검색
def searchMovieByTitle():
    start_time = time.time()
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    
    
    input_title = input("영화정보 조회를 위해 영화의 제목을 입력하십시오 : ")
    select_num = int(input("DB 조회를 위한 번호를 선택하십시오(1: 기존의 테이블 7개로 조회, 2: 설계한 구조로 조회) : "))
    
    #간단하게 title_akas와 title_basics join select 질의
    if(select_num == 1):
        print("기존의 테이블 7개로 조회\n")
        sql = """select * 
                from title_akas ta, title_basics tb
                where title = %s and ta.titleid = tb.tconst;"""
        curs.execute(sql, input_title)
        
        row = curs.fetchone()
        while(row):
            print("""titleid:%s, ordering:%d, title:%s, region:%s, language:%s, types:%s, isOriginalTitle:%s, tconst:%s, titleType:%s,
                  primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s, genres:%s \n"""
                  %(row['titleid'], row['ordering'], row['title'], row['region'], row['language'], row['types'], row['isOriginalTitle'],
                   row['tconst'], row['titleType'], row['primaryTitle'], row['originalTitle'], row['isAdult'], row['startYear'],
                   row['endYear'], row['runtimeMinutes'], row['genres']))
            row = curs.fetchone()
           
    elif(select_num == 2):
        print("설계한 구조로 조회\n")
        sql = """select * 
                from Movie mv, MovieByCountry mvc
                where title = %s and titleid = tconst;"""
        curs.execute(sql, input_title)
        
        row = curs.fetchone()
        while(row):
            print("""tconst:%s, ordering:%d, title:%s, region:%s, language:%s, types:%s, isOriginalTitle:%s, titleid:%s, titleType:%s,
                  primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s \n"""
                  %(row['tconst'], row['ordering'], row['title'], row['region'], row['language'], row['types'], row['isOriginalTitle'],
                   row['titleid'], row['titleType'], row['primaryTitle'], row['originalTitle'], row['isAdult'], row['startYear'],
                   row['endYear'], row['runtimeMinutes']))
            row = curs.fetchone()
            
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    conn.close()
    
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds passed\n')

#데이터셋 재검토 필요, name_basics에서 knownforTitle에서 해당 사람이 배우로 작업한 영화인지 아닌지는 알 수가 없음(부정확한 데이터셋)
#특정 배우가 등장하는 영화를 별점이 높은 순으로 검색
def searchMovieByActorOrderbyRating():
    start_time = time.time()
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    curs2 = conn.cursor(pymysql.cursors.DictCursor)
    
    input_name = input("영화정보(별점이 높은 순) 조회를 위해 영화의 특정 배우 이름을 입력하십시오 : ")
    select_num = int(input("DB 조회를 위한 번호를 선택하십시오(1: 기존의 테이블 7개로 조회, 2: 설계한 구조로 조회) : "))
    
    #간단하게 name_basics에서 actor이면서 특정배우 이름을 갖는지 확인한 이후,knownForTitles에서 tconst를 위해 ','를 delimiter로 정하여 분리하여 검색 후,title_ratings과 title_basics과 join하여 order by를 통해 영화 정보를 정렬
    if(select_num == 1):
        print("기존의 테이블 7개로 조회\n")
        sql = """select * 
                from name_basics
                where primaryName = %s  and primaryProfession like ('%%actor%%' or '%%actress%%');
                """ 
        curs.execute(sql, input_name)
        
        row = curs.fetchone()
        while(row):
            print("""nconst:%s, primaryName:%s, birthYear:%s, deathYear:%s, primaryProfession:%s, knownForTitles:%s"""
                  %(row['nconst'], row['primaryName'], row['birthYear'], row['deathYear'], row['primaryProfession'], row['knownForTitles']))
            
            ##tt... / tt... / tt ... / tt ...
            KFT = row['knownForTitles'].split(',')
            
            sql2 = """select *
                    from title_ratings tr, (select * from title_basics where tconst = %s) tb
                    where tb.tconst = tr.tconst
                    order by averageRating desc;
                    """
            for i in KFT:
                curs2.execute(sql2, i)  #KFT[0], KFT[1], KFT[2], KFT[3]....
                row2 = curs2.fetchone()            
                print("""tconst:%s, titleType:%s, primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s, genres:%s, 
                    averageRating:%f, numVotes:%d\n"""
                    %(row2['tconst'], row2['titleType'], row2['primaryTitle'], row2['originalTitle'], row2['isAdult'], row2['startYear'],
                    row2['endYear'], row2['runtimeMinutes'], row2['genres'], row2['averageRating'], row2['numVotes']))
                    
            row = curs.fetchone()
            
    elif(select_num == 2):
        print("설계한 구조로 조회\n")
        sql = """select * 
                from name_basics nb, title_principals tp, title_ratings tr
                where primaryName = %s  and category = ('actor' or 'actress') and nb.nconst = tp.nconst and tp.tconst = tr.tconst
                order by averageRating desc;""" 
        curs.execute(sql, input_name)
        
        row = curs.fetchone()
        while(row):
            print("""nconst:%s, primaryName:%s, birthYear:%s, deathYear:%s, primaryProfession:%s, knownForTitles:%s,
                tconst:%s, ordering:%d, category:%s, job:%s, characters:%s, averageRating:%s, numVotes:%s"""
                  %(row['nconst'], row['primaryName'], row['birthYear'], row['deathYear'], row['primaryProfession'], row['knownForTitles'],
                   row['tconst'], row['ordering'], row['category'], row['job'], row['characters'], row['averageRating'], row['numVotes']))
            
            sql2 = """select *
                    from title_basics tb, title_ratings tr
                    where tb.tconst = %s  and tb.tconst = tr.tconst;"""
            
            curs2.execute(sql2, row['tconst'])    
            row2 = curs2.fetchone()
            
            while(row2):
                print("""tconst:%s, titleType:%s, primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s, genres:%s, 
                    averageRating:%s, numVotes:%s\n"""
                    %(row2['tconst'], row2['titleType'], row2['primaryTitle'], row2['originalTitle'], row2['isAdult'], row2['startYear'],
                    row2['endYear'], row2['runtimeMinutes'], row2['genres'], row2['averageRating'], row2['numVotes']))
                row2 = curs2.fetchone()
                    
            row = curs.fetchone()
        
        
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    curs2.close()
    conn.close()
    
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds passed\n')

#특정 감독이 제작한 영화를 개봉연도순으로 검색
def searchMovieByDirectorOrderbyStartYear():
    start_time = time.time()
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    curs2 = conn.cursor(pymysql.cursors.DictCursor)
    
    input_name = input("영화정보(개봉연도가 빠른 순) 조회를 위해 영화의 특정 감독 이름을 입력하십시오 : ")
    select_num = int(input("DB 조회를 위한 번호를 선택하십시오(1: 기존의 테이블 7개로 조회, 2: 설계한 구조로 조회) : "))
    
    #간단하게 name_basics에서 이름을 조회한 사람들 중에 감독인 사람들을 조회
    #join select query를 통해 영화정보를 평균 평가점수를 기준으로 정렬
    if(select_num == 1):
        print("기존의 테이블 7개로 조회\n")
        sql = """select * 
                from name_basics
                where primaryName = %s and primaryProfession like '%%director%%';"""
        curs.execute(sql, input_name)
        
        row = curs.fetchone()
        while(row):
            print("""nconst:%s, primaryName:%s, birthYear:%s, deathYear:%s, primaryProfession:%s, knownForTitles:%s"""
                  %(row['nconst'], row['primaryName'], row['birthYear'], row['deathYear'], row['primaryProfession'], row['knownForTitles']))
            
            director_id = row['nconst']
            sql2 = """select *
                    from title_basics tb, title_crew tc
                    where tb.tconst = tc.tconst and tc.directors like %s
                    order by startYear desc;"""
            curs2.execute(sql2, ("%" + director_id + "%"))
            row2 = curs2.fetchone()
            
            while(row2):
                print("""tconst:%s, titleType:%s, primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s, genres:%s,
                  directors:%s, writers:%s \n"""
                  %(row2['tconst'], row2['titleType'], row2['primaryTitle'], row2['originalTitle'], row2['isAdult'], row2['startYear'],
                   row2['endYear'], row2['runtimeMinutes'], row2['genres'], row2['directors'], row2['writers']))
                row2 = curs2.fetchone()
                
            row = curs.fetchone()
            
    elif(select_num == 2):
        print("설계한 구조로 조회\n")
        sql = "select * from student order by sno desc;"
        curs.execute(sql)
        showStudentRow(curs)
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    curs2.close()
    conn.close()
    
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds passed\n')
    
#Drama 장르의 영화를 리뷰가 많은 순 또는 별점이 높은순으로 검색(1000 rows까지만)
def searchDramaMovieOrderbyNumVotesOrAverageRating():
    start_time = time.time()
    conn = pymysql.connect(host = '127.0.0.1', user = 'leedongjun', password = 'leedongjun201611279', db = 'university')
    curs = conn.cursor(pymysql.cursors.DictCursor)
    curs2 = conn.cursor(pymysql.cursors.DictCursor)
    
    select_num = int(input("DB 조회를 위한 번호를 선택하십시오(1: 기존의 테이블 7개로 조회, 2: 설계한 구조로 조회) : "))
    
    #title_basics에서 드라마 장르의 영화 조회 이후, title_ratings와 join하여 정렬
    if(select_num == 1):
        print("기존의 테이블 7개로 드라마 장르의 영화를 리뷰가 많은 순으로 조회\n")
        sql = """select * 
                from title_basics tb, title_ratings tr
                where genres like '%%Drama%%' and tb.tconst = tr.tconst
                order by numVotes desc
                limit 1000;"""
        curs.execute(sql)
        
        row = curs.fetchone()
        while(row):
            print("""tconst:%s, titleType:%s, primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s,
            genres:%s, averageRating:%s, numVotes:%s"""
            %(row['tconst'], row['titleType'], row['primaryTitle'], row['originalTitle'], row['isAdult'], row['startYear'], row['endYear'],
             row['runtimeMinutes'], row['genres'], row['averageRating'], row['numVotes']))    
            row = curs.fetchone()
        
        print("\n기존의 테이블 7개로 드라마 장르의 영화를 별점이 높은 순으로 조회\n")
        sql2 = """select * 
                from title_basics tb, title_ratings tr
                where genres like '%%Drama%%' and tb.tconst = tr.tconst
                order by averageRating desc
                limit 1000;"""
        curs2.execute(sql2)
        
        row2 = curs2.fetchone()
        while(row2):
            print("""tconst:%s, titleType:%s, primaryTitle:%s, originalTitle:%s, isAdult:%d, startYear:%s, endYear:%s, runtimeMinutes:%s,
            genres:%s, averageRating:%s, numVotes:%s"""
            %(row2['tconst'], row2['titleType'], row2['primaryTitle'], row2['originalTitle'], row2['isAdult'], row2['startYear'], row2['endYear'],
             row2['runtimeMinutes'], row2['genres'], row2['averageRating'], row2['numVotes']))
                
            row2 = curs2.fetchone()
              
    elif(select_num == 2):
        print("설계한 구조로 조회\n")
        sql = "select * from student order by sno desc;"
        curs.execute(sql)
        showStudentRow(curs)
    else:
        print("번호를 잘못 입력하시어 조회 종료되었습니다.\n")
    
    curs.close()
    curs2.close()
    conn.close()
    
    elapsed_time = time.time() - start_time
    print(elapsed_time, 'seconds passed\n')

if __name__ == '__main__':
    #searchMovieByTitle()
    searchMovieByActorOrderbyRating()
    searchMovieByDirectorOrderbyStartYear()
    #searchDramaMovieOrderbyNumVotesOrAverageRating()

영화정보(별점이 높은 순) 조회를 위해 영화의 특정 배우 이름을 입력하십시오 : Bette Davis
DB 조회를 위한 번호를 선택하십시오(1: 기존의 테이블 7개로 조회, 2: 설계한 구조로 조회) : 1
기존의 테이블 7개로 조회

14.508271932601929 seconds passed